*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: hsl(233, 47%, 7%);
}
.box
{
    display: flex;
    background-color:  hsl(244, 38%, 16%);
    position:absolute;
    height:57.3%;
    width:78%;
    top:21.35%;
    left:11%;
    border-radius:10px 10px 10px 10px;
}
.title
{
    color:hsl(0, 0%, 100%);
    top:15%;
    font-size:25px;
    font-family:'Inter' ;
    position:relative;
    margin-left:8%;
    margin-right:20%;
}

.style
{
   color:hsl(277, 64%, 61%)
}

.information 
{ 
    color:hsla(0, 0%, 100%, 0.75);
    top:23%;
    position:relative;
    margin-left:8%;
    margin-right:25%;
   
}
.information p
{
    font-size: 15px;
    line-height: 1.5;
    font-family:'Inter';
}
.stats-box
{
    position:absolute;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    width:80%;
    height:20%;
    top:70%;
    margin-left:8%;
    color:white;
    font-family: 'Inter';
}
#k, #M, #nom
{
font-size:25px;
font-weight: 700;
}
#companies, #queries, #templates
{
    font-size: 15px;
    text-transform:uppercase;
    font-family:'Inter';
    color:hsla(0, 0%, 100%, 0.75);
}
#companies
{
    grid-column:1/2;
    grid-row:2/3;
}
#templates
{
    grid-column:2/3;
    grid-row:2/3;
}

.text-box
{
    
    position:relative;
    width:50%;
    border-radius:10px 0px 0px 10px;
}
.image-box
{
    
    position:relative;
    width:50%;
    border-radius:0px 10px 10px 0px;
}
.image-box img
{ position :absolute;
    height:100%;
    width:100%;
    border-radius:0px 10px 10px 0px;
}
.effect
{   
    background-color:hsl(277, 64%, 61%);
    position:absolute;
    height:100%;
    width:100%;
    opacity:0.5;
    border-radius:0px 10px 10px 0px;
}
@media(max-width:1100px)
{
    .box
    {
        display:grid;
        grid-template-rows:30% 70%;
        height:750px;
        top:100px;
       margin-bottom:100px;
       border-radius:10px 10px 10px 10px;
    }
    .text-box
    {
        grid-row:2/3;
        width:100%;
        border-radius:10px 10px 10px 10px;
    }
    .title
    {
        width:75%;
        margin-left:12.5%;
        margin-right:12.5%;
        margin-bottom:0%;
        font-size:20px;
       top:10%;
       text-align:center;
    }
    .effect
    {
        border-radius:10px 10px 0px 10px;
    }
    .image-box img
{ 
    border-radius:10px 10px 0px 0px;
}
    .information 
    { 
       
        top:15%;
        position:relative;
        margin-left:12.5%;
        margin-right:12.5%;
       width:70%;
       text-align:center;
    }
    
    .image-box
    {
        background-image:url(/image-header-mobile.jpg);
        width:100%;
        height:100%;
        border-radius:10px 10px 0px 10px;
    }
    .stats-box
    {
        display:grid;
        grid-template-columns:0;
        position: absolute;
        grid-template-rows:repeat(6, 40px);
        width:50%;
        top:55%;
        height:40%;
        left:25%;
    }
    #companies
{
   position:relative;
    grid-row:2/3;
}
#k
{
    width:100%;
    position:relative;
}
#templates
{
    grid-row:4/5;
    position:relative;
}
#nom
{
    grid-row:3/4;
    position:relative;
}
#M
{
    grid-row:5/6;
    position:relative;
}
#queries
{
    grid-row:6/7;
    position:relative;
}
   
}
